<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/ff4.jpg">
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>

<body>
    <header style="display: flex; flex-direction: row; justify-content: space-between;">
        <a href="/">Travis Luckenbaugh</a>
        <div style="display: flex; flex-direction: row; gap: 16px;">
            <a href="/posts/">Posts</a>
            <a href="/tools/">Tools</a>
            <a href="/links/">Links</a>
            <a href="/resume/">Resume</a>
        </div>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>   
</body>

</html>
