{{ define "title" }}
    {{ .Site.Title }} | {{ .Title }}
{{ end }}
{{ define "main" }}
<aside id="meta">
    <div>
        {{ with .GetTerms "topics" }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="flex: 1;">
            {{ with .PrevInSection }}
            <<
            <a class="previous" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <div style="flex: 1; text-align: right;">
            {{ with .NextInSection }}
            <a class="next" href="{{ .Permalink }}"> {{ .Title }}</a>
            >>
            {{ end }}
        </div>
    </div>
</aside>
<section id="main">
    <div style="margin-bottom: 8px;">
        <div id="title" class="title">{{ .Title }}</div>
        <span for="title">
            <span id="date" class="caption"> {{ .Date.Format "Mon Jan 2, 2006" }} </span>
            <span class="caption2">|</span> 
            <span id="wordcount" class="caption"> {{ .WordCount }} Words </span>
        </span>
        {{ with .GetTerms "tags" }}
        <span id="tags">
            {{ range . }}
            <a href="{{ .RelPermalink }}">#{{ .Title }}</a>
            {{ end }}
        </span>
        {{ end }}
    </div>
    <div>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
</section>
{{ end }}
